<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/dist/app.js"></script>
    <title>Coder</title>
    <style></style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>
    <div class="index-contianer" id="app">
        <div class="left-wrapper flexCol">
            <div class="user-info flexCol">
                <img src="./image/logo.jpg" class="logo" alt="" />
                <a href="/" class="name">
                    <h3 v-if="userName">{{userName}}</h3>
                </a>
                <p class="description">
                    好的事情总会在你放弃的时变好</br>坏的事情总在你坚持的时候变好!
                </p>
            </div>
            <ul class="mens flexCol">
                <li class="item" @click="goto('index')">
                    <i class="fa fa-home"></i> <span>首-页</span>
                </li>
                <li class="item" @click="goto('archive')">
                    <i class="fa fa-reorder"></i> <span>归-档</span>
                </li>
                <li class="item" @click="goto('article')">
                    <i class="fa fa-file"></i> <span>文-章</span>
                </li>
                <li class="item" @click="goto('book')">
                    <i class="fa fa-book"></i> <span>专-栏</span>
                </li>
            </ul>

            <div class="icons">
                <a href="http://github.com/COSER277/"> <i class="fa fa-github icon"></i></a>
                <a href="http://coser277.github.io/"> <i class="fa fa-github-alt icon"></i></a>
                <a href="http://gitee.com/chenxiaop/"> <i class="fa fa-cloud icon"></i></a>
            </div>

        </div>
        <div class="main-wrapper" v-if="position=='page'">
            <div class="index-content cont" v-if="activePane=='index'">
                <div class="back">
                    <p>欢迎来到我的个人博客小窝~</p>
                    <form>
                        <input type="text" placeholder="Send Me Suggestions!" />
                        <button type="submit"><i class="fa fa-send"></i></button>
                    </form>
                </div>
            </div>
            <div class="cont archive-content " v-else-if="activePane=='archive'">

            </div>
            <div class="cont article-content " v-else-if="activePane=='article'">文章</div>
            <div class="cont book-content " v-else>
                <ul class="books">
                    <li class="book" v-for="item in books" :key="item.id" :style="{backgroundImage:item.image}">
                        <a href="javascript:;">
                            <div class="bg"></div>
                            <div class="title">{{item.title}}</div>
                            <div class="descr">{{item.descr}}</div>
                            <div class="read" @click="read('artilceDetail')">阅读</div>
                        </a>
                    </li>
                    <!-- 8个分页 -->
                </ul>
            </div>
        </div>
        <div class="main-wrapper" v-else>
            <div class="book-detail" v-if="tab=='bookDetail'">书本详情</div>
            <div class="article-detail" v-else>文章详情</div>
        </div>
    </div>

    <script src="./lib/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data() {
                return {
                    userName: 'Coder',
                    activePane: "index",
                    position: 'page',
                    tab: 'bookDetail',
                    books: [{
                        id: "12121212",
                        title: "Vue.Js",
                        descr: "VueJs全家桶",
                        image: "https://cn.vuejs.org/images/logo.png"
                    }, {
                        id: "asdasdsa",
                        title: "React.Js",
                        descr: "React",
                        image: "./src/images/logo.jpg"
                    }, {
                        id: "1212asdsad1212",
                        title: "Node.Js",
                        descr: "Node",
                        image: "./src/images/logo.jpg"
                    }, ]
                }
            },
            methods: {
                goto(url) {
                    this.activePane = url
                    this.position = 'page'
                },
                read(tab) {
                    this.position = 'detail'
                    this.tab = tab
                }
            },
        })
    </script>
<script type="text/javascript" src="./app.js"></script></body>

</html>